/* Estilo personalizado */
body {
    padding-top: 20px;
    background-color: #191b1c;
}
.container a {
    color: white;
}
.jumbotron {
    flex-grow: 1;
    background-color: #232628;
    padding: 10px;
    margin-top: 30px;
}
.jumbotro h1,
.jumbotron p {
    color: white ;
}
.jumbotron h1.display-4 {
    color: white ;
}
.btn-primary{
    background-color: #0a0b0b;
    color: white;
    border-color: #0a0b0b;
}
.btn-primary:hover{
    background-color: #202020;
    color: white;
    border-color: #202020;
}
